@import './reset';

$base-color: #F9DE4F;
$main-width: 1800px;
$social-width: 100px;

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

.container{
    width: 100%;
    max-width: $main-width;
    padding: 0 100px;
    margin: 0 auto;
}

.btn{
    background-color: #02000B;
    font-size: 17px;
    line-height: 60px;
    width: 280px;
    color: $base-color;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;

    &_yellow{
        background-color: $base-color;
        color: #02000B;
    }
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 160px;
    position: fixed;
    z-index: 999;
}

.nav{
    &__title{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        padding-right: 58px;
    }

    &__menu-wrapper{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        text-align: right;
        background: #fff;
        padding-top: 70px;
        display: none;
        

        &.active{
            animation: bounceInDown 1s;
        }

        &.non-active{
            animation: bounceOutUp 1s;
        }

        
    }

    @-webkit-keyframes bounceInDown {
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -3000px, 0);
          transform: translate3d(0, -3000px, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(0, 25px, 0);
          transform: translate3d(0, 25px, 0);
        }
      
        75% {
          -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
        }
      
        90% {
          -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
      
    @keyframes bounceInDown {
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -3000px, 0);
          transform: translate3d(0, -3000px, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(0, 25px, 0);
          transform: translate3d(0, 25px, 0);
        }
      
        75% {
          -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
        }
      
        90% {
          -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
    }
      
    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
    }

    @-webkit-keyframes bounceOutUp {
        20% {
          -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
        }
      
        40%,
        45% {
          opacity: 1;
          -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
        }
      
        to {
          opacity: 0;
          -webkit-transform: translate3d(0, -2000px, 0);
          transform: translate3d(0, -2000px, 0);
        }
    }
      
    @keyframes bounceOutUp {
        20% {
          -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
        }
      
        40%,
        45% {
          opacity: 1;
          -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
        }
      
        to {
          opacity: 0;
          -webkit-transform: translate3d(0, -2000px, 0);
          transform: translate3d(0, -2000px, 0);
        }
    }
      
    .bounceOutUp {
        -webkit-animation-name: bounceOutUp;
        animation-name: bounceOutUp;
    }

    

    &__menu{
        padding: 70px 95px 50px 0;
    }

    &__item{
        
        padding-bottom: 30px;
    }

    &__anchor{
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }

    &__submenu{
        display: none;
        padding-top: 20px;
    }

    &__subanchor{
        text-decoration: none;
        font-size: 36px;
        font-weight: 500;
        line-height: 41px;

        &_dm{
            color: #E5097F;
        }
        &_oa{
            color: #EB6020;
        }
        &_pr{
            color: #AE4A84;
        }
        &_pp{
            color: #008DD2;
        }
    }
}

.social-nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 95px;
    padding-bottom: 50px;

    &__item{
        padding-left: 85px;

        &:first-child{
            padding-left: 0;
        }
    }

    &__anchor{
        font-size: 20px;
        line-height: 35px;
        color: #838383;
        text-decoration: none;
    }
}

@media (max-width: 1100px){
    .social-nav{
        flex-direction: column;
        &__item{
            padding-left: 0;
            margin-top: 20px;
        }
    }

    // .container{
    //     padding: 0 50px;
    // }

    .nav{
        &__anchor{
            font-size: 45px;
        }

        &__menu-wrapper{
            padding-top: 50px;
        }
    }


}

@media (max-width: 768px){
    .nav{
        &__menu-wrapper{
            background: $base-color;
        }
    }
}





.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box{
    margin-top: 160px;
    height: calc(100vh - 160px);
    position: relative;

    &__title{
        position: absolute;
        font-size: 36px;
        text-transform: uppercase;
        line-height: 41px;
        font-weight: 500;
        top: -20px;
        right: 13%;
        z-index: 2;
        background-color: #fff;

        &::after{
            content: '02';
            font-weight: bold;
            font-size: 72px;
            color: $base-color;
            position: absolute;
            top: 0;
            right: -105px;
            background-color: inherit;
            padding-left: 15px;
        }
    }


    &_base-color{
        background-color: $base-color;
    }

    &_with-border{
        border: 1px solid #000;
    }
}


.banner{
    padding-top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: auto;

    .tabs-menu{
        display: flex;
        padding-top: 60px;

        &__item{
            padding-right: 80px;

            &:last-child{
                padding-right: 0;
            }
        }
    }
    &__btn{
        margin-top: 15vh;
    }
}

@media (max-width: 1280px){
    .banner{
        .tabs-menu{
            flex-direction: column;
            &__item{
                padding-right: 0;
                padding-bottom: 50px;
            }
        }
    }
}

@media (max-height:950px){
    .banner{
        padding-top: 25vh;

        &__btn{
            margin-top: 10vh;
        }
    }
}

@media (max-width:1024px){
    .banner{
        &__wrapper{
            .container{
                padding: 0;
            }
        }
    }
    .container{
        padding: 0 20px;
    }
    .nav{
        &__menu-wrapper{
            padding-top: 50px;
        }
    }
}

@media (max-width:768px){
    
    .nav{
        &__anchor{
            font-size: 32px;
        }

        &__subanchor{
            font-size: 24px;
        }

        &__title{
            display: none;
        }
    }
}




.about_us{
    display: flex;
    flex-direction: column;
    .team-slider{
        margin-top: 75px;
        padding: 0 100px;
    }

    .card{
        width: 310px;

        img{
            width: 310px;
        }

        &__description{
            padding-left: 22px;
        }
        &__title{
            font-size: 25px;
            font-weight: bold;
            line-height: 35px;
        }
        &__position{
            font-size: 16px;
            color: #02000B;
            padding: 13px 0;
        }

        &__text{
            font-size: 16px;
            color: #02000B;
            line-height: 25px;
        }
    }
    
}


