@import './reset';

$base-color: #F9DE4F;
$main-width: 1800px;
$social-width: 100px;

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: $main-width;
    padding: 0 100px;
    margin: 0 auto;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 160px;
    position: fixed;
    background-color: #fff;
    z-index: 999;
}

.nav{
    &__title{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        padding-right: 58px;
    }
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box{
    margin-top: 160px;
    height: calc(100vh - 160px);

    &_base-color{
        background-color: $base-color;
    }

    &_with-border{
        border: 1px solid #000;
    }
}


.banner{
    padding-top: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.social-nav{
    display: flex;
    justify-content: space-between;
    width: calc(100vh - 160px);
    height: 200px;
    top: 0px;
    left: 0px;
    transform: rotate(270deg);
    position: fixed;
    z-index: 999;
}

